.App {
  text-align: center;
  height: 100vh;
  width: 100wh;
}

#home_button {
  width: 320px;
  height: 40px;
  background-image: url('./bar.png');
  background-size: cover;
  background-color: #eee;
  }
.App-content {
  content: 100px;
  min-height: 10vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-right: auto;

}

.App-top {
  height: 20vmin;
  pointer-events: none;
  
}
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/
.App-ball {
  align-items: left;
  height: 100;
  width: 100;
}

.App-header {
  position: sticky;
  background-color: #e27e50;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html, body {
  height: 100%;    
}
#wrapper {
  height: 100%;
  display: table;
  width: 100%;
}
#header, #footer {
  display: table-row;
  height: 30px;
}
#body {
  height: 100%;
  display: table-row;
  background: white;
}
#left-col, #right-col {
  display: inline-block;
  width: 714px;
  height: 100%;
  max-height: 100%;
  margin-right: 20px;
  vertical-align: top;
  overflow: hidden;
}
#inner-right {
  height: 600px;
  max-height: 600px;
  overflow-y: scroll;
  background: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

content {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*button stuff*/
body {
  padding: 20px;
}
button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
  display: block;
  align-items: center;
}
button:hover {
  background: lightsalmon;
}


::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}